<section class="home-section">
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
         <a href="/admin/adminUserPage" class="btn"> <div class="box-topic">8 USERS</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
         <a href="/admin/adminProductPage" class="btn"> <div class="box-topic"> 6 PRODUCTS</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
        <a href="/admin/adminCategoryPage" class="btn">  <div class="box-topic">3 CATEGORY</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <a href="/admin/adminOrderPage" class="btn"> <div class="box-topic">6 ORDERS</div></a>
        </div>
      </div>
    </div>

    </div>
  </section>
  


<script>
  let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
 sidebar.classList.toggle("active");
 if(sidebar.classList.contains("active")){
 sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
 sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>


