<section class="home-section">
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
         <a href="/admin/adminUserPage" class="btn"> <div class="box-topic">8 USERS</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">  
         <a href="/admin/adminProductPage" class="btn"> <div class="box-topic"> 6 PRODUCTS</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
        <a href="/admin/adminCategoryPage" class="btn">  <div class="box-topic">3 CATEGORY</div></a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <a href="/admin/adminOrderPage" class="btn"> <div class="box-topic">3 ORDERS</div></a>
        </div>
      </div>
    </div>

    </div>
  </section>
  

<section class="home-section">
<div style="width:30rem ;height:30rem ;">
  <canvas id="myChart"></canvas>
</div>
</section>






<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>




<script>
  let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
 sidebar.classList.toggle("active");
 if(sidebar.classList.contains("active")){
 sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
 sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>


