<div style="background: #eeeeee; text-align: center;">
    <div class="container-fluid pb-5" style="padding-top: 30px;">
        <h1>Ordered SuccessFully</h1>
        <h3>Thank you for choosing us</h3><br><br>
        <div>
            <h3><a href="/orders">View Order Details</a></h3>
        </div>
    </div>
</div>