<section class="bg-light">
    <div class="container-fluid">
      <div class="row col-12 d-flex justify-content-center">
  
          <% for(var i=0;i<orderItem.length;i++) { %>
            <div class="col-2 m-4">
            <div class="card mt-5" style="width: 18rem;">
              <img src="../admin/images/<%= orderItem[i].products.Picture %>" class="card-img-top"
                style=" width: 17.9rem; height: 13rem; background-size: contain; background-repeat: no-repeat;" alt="image not found">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold">
                  <%= orderItem[i].products.productName %>
                </h5>
                <p class="card-text text-center text-primary">Rs:<%=
                    orderItem[i].products.sellingPrice %>
                </p>
              </div>
            </div>
        </div>
        <% } %>
      </div>
    </div>
    </div>
  </section>